@mixin set-dimensions ($width,$height){
    width: $width;
    height: $height;
}

$color-primary:#673AB7;
$color-secondary:#3F51B5;
$color-tertiary:#D81B60;
$color-dark:black;
$color-white:white;

body{
    @include set-dimensions(auto,100vh);

    box-sizing: border-box;

    overflow: hidden;
    background-image: url("https://image.freepik.com/foto-gratis/fondo-madera-madera-textura-patron-wallpaper-concepto_53876-14103.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    padding: 1em 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quiksand',sans-serif;
}

